html { font-size: 62.5%; } 

.ellipsis {
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

.separator-start {
  padding-top: 1.1rem;
  &:before {
    content: "";
    width: 100%;
    height: 0.4rem;
    position: absolute;
    top: 0;
    background-color: var(--black);
  }
}

.main-bottom {
  margin-bottom: var(--vertical-margin);
}

.main-position {
  max-width: 86rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h4 {
  font-size: var(--h4-size);
}

h2, h4 {
  line-height: 1.05;
}

dl {
  white-space: nowrap;
}

dt, dd {
  display: inline-block;
}

.primary-color-link {
  color: var(--primary-color);
}

.primary-color-background {
  background-color: var(--primary-color);
}

.disable-horizontal-scroll {
  max-width: 100vw;
  overflow-x: hidden;
}
:root {
  --white: #fff;
  --black: #000;
  --bkg1: #00bbb4;
  --gap: .4rem;
  --vertical-margin: 2rem;
  --selected-step: #eee;
  --checked-selected-step: #555;
  --details-gap: 0 1rem;
  --main-padding: 0 3rem;
  --h1-size: 2rem;
  --h2-size: 2rem;
  --h4-size: 1.8rem;
  --tracks-nav-gap: 0.6rem;
  --tracks-nav-width: 5rem;
  --content-padding: 2.3rem 0 0.6rem;
  --pre-position: -2.3rem;
  --player-height: 10rem;
  --footer-height: 16rem;
  --primary-color: #fff;
}

@media (min-width: 600px) {
  :root {
    --details-gap: 0 2rem;
    --main-padding: 0;
    --h1-size: 4rem;
    --h2-size: 4rem;
    --h4-size: 2rem;
    --tracks-nav-gap: 1.6rem;
    --tracks-nav-width: 12rem;
    --content-padding: 4rem 0 0.6rem;
    --pre-position: -3.2rem;
  }
}